<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/404.css">
    <title>ROBOBICK</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="/" class="logo">ROBOPICK</a>
            <nav class="nav">
                <a href="s.html">Services</a>
            </nav>
        </header>
        <section class="main">
            <div class="content">
                <h2 class="num">404</h2>
                <h3 class="found">Not Found</h3>
                
                
            </div>
        </section>

    </div>
   
    
    
    <footer class="footer">
        <div class="social-icons">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
    </footer>

</body>
</html>