<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/services.css">
    <title>Services</title>
</head>
<body>
    <header class=" fixed-top   my-nav">
        <div class="container-fluid">
            <nav class="navbar-dark d-flex justify-content-between align-items-center py-2">
                <a class="navbar-brand" href="/">ROBOPICK</a>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/services">Services</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact Us</a>
                        </li> -->
                    </ul>
            </nav>
        </div>
    </header>

    <section class="my-5 py-5 " id="Services">
        <div class="container">
            <h2 class="text-center my-4">Services</h2>
            <div class="row">
               <!-- <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card shadow-sm">
                        <div class="icon text-center my-3">
                           <a href=""><i class="fa-solid fa-gears fa-3x"></i></a> 
                        </div>
                        <div class="info text-center">
                            <h3>Setting</h3>
                            <p>Control the robot</p>
                        </div>
                    </div>
                --> 
                <div class="col-lg-3 col-md-6 mb-4">
                    <a href="/services/robot">
                        <div class="card shadow-sm" id="about">
                            <div class="icon text-center my-3">
                               <i class="fa-solid fa-bars fa-3x"></i>
                            </div>
                            <div class="info text-center">
                                <h3>About the Robot</h3>
                                <p>Why do we use warehouse robots?</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <a href="/services/catalog">
                        <div class="card shadow-sm">
                            <div class="icon text-center my-3">
                               <i class="fa-solid fa-book fa-3x"></i>
                            </div>
                            <div class="info text-center">
                                <h3>Catalogue</h3>
                                <p>Explain how to use the robot</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <a href="/services/about">
                        <div class="card shadow-sm">
                            <div class="icon text-center my-3">
                               <i class="fa-regular fa-address-card fa-3x"></i>
                            </div>
                            <div class="info text-center">
                                <h3>About Us</h3>
                                <p>Who is the ROBOPICK team?</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer  text-light mt-5 fixed-bottom">
        <div class="container text-center py-3">
            <div class="social-icons">
                <a href="https://www.facebook.com/" target="_blank" class="text-light me-2"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank" class="text-light me-2"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank" class="text-light me-2"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#" class="text-light"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>
