<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/task.css">
    <title>ROBOPICK</title>
</head>
<body>
    
        <header>
            <a href="/" class="logo">ROBOPICK</a>
            <nav class="nav">
                <a href="/services">Services</a>
            </nav>
        </header>

            <div class="container d-flex justify-content-center">
                <div>
                    <form class="form-section" method="POST" action="/task">
                        <h3 id="Condition"><%= info %></h2>
                        <h2 id="title1">Enter the Source location</h2>
                        <input type="text" placeholder="Source Row" name="startR" />
                        <input type="text" placeholder="Source Column" name="startC"/>
        
                        <h2 class="mt-4" id="title2">Enter the Destination location</h2>
                        <input type="text" placeholder="Destination Row" name="endR"/>
                        <input type="text" placeholder="Destination Column" name="endC"/>
                        <input type="submit" value="Submit task" class="main-btn">
                        
                    </form>
                    
                    
                   
                </div>
        
                
        
            </div>


    
    <footer class="footer fixed-bottom">
        <div class="social-icons">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
    </footer>

</body>
</html>
